.details {
  display: flex;
  flex-direction: row;
}

.margin_left_5 {
  margin-left: 5%;
}

.listItem {
  display: flex;
  flex-direction: row;

  padding: 2%;
  margin-bottom: 2%;

  border: 1px solid #fff;
}

.movieList {
  display: flex;
  flex-direction: column;

  padding: 2%;
  margin-top: 5%;
  margin-bottom: 2%;

  border: 1px solid #fff;
}

.listItem:hover {
  border: 1px solid #000;
}

.loadMore {
  text-align: right;
}

.loadMore:hover {
  cursor: pointer;
  color: blue;
}

@media (max-width: 950px) { 
  .details {
    display: flex;
    flex-direction: column;
  }

  .listItem {
    display: flex;
    flex-direction: column;
  
    padding: 2%;
    margin-bottom: 2%;
  
    border: 1px solid #fff;
  }

  
}